.markdown{
    width: 750px;
    height: 500px;
    border: solid 1px red;
    margin:  0 auto;
    margin-top: 20px
}
.wheelImg{
  background-image: url(./map.png);
  /* width: 100%;
  height: 100%; */
  background-size:cover;
  position: relative;
}
